.Checkout input,
.Input {
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.5rem;
  border: none;
}

.Checkout button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;

  font-size: 1rem;

  background-color: black;
  color: white;
}

.Checkout button:disabled {
  opacity: 0.7;
}
